
<as-breadcrumb [objeto]="breadcrumb">
</as-breadcrumb>
<form [formGroup]="patioForm">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="ui-fluid">
                <div class="ui-g">                 
                    <fieldset class="fieldset box">
                        <legend>Dados Gerais</legend>
                        <div class="informacoesGerais box-body">                 
                            <div class="ui-g-12 ui-md-3">
                                <div class="form-group">
                                    <label for="descricao"> Descricao </label>
                                    <input id="descricao" type="text" 
                                                     formControlName="descricao"
                                                     class="form-control input"
                                                     [attr.maxlength]="100" 
                                                     name="descricao" 
                                                     required>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-xl-3 ui-lg-3 ui-md-3">
                                <div class="form-group">
                                    <label for="nome"> Número de Vagas </label>
                                    <input asInputText="numeroVagas" id="numeroVagas" type="text" formControlName="numeroVagas"
                                        class="form-control input" maxlength="100" name="nome" required>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-xl-3 ui-lg-3 ui-md-3">
                                <div class="form-group">
                                    <label for="taxaHora"> Taxa Hora </label>
                                    <input id="taxaHora" type="text" formControlName="taxaHora"
                                        class="form-control input" maxlength="20" name="taxaHora">
                                </div>
                            </div>


                        </div>
                    </fieldset>
                </div>   
            </div>
            <div class="panel-footer">
                <button type="button" class="btn pull-right btnSalvar" [disabled]="!patioForm.valid" (click)="save()">Salvar</button>
                <button type="button" class="btn pull-left btnVoltar" (click)="cancel()">Voltar</button>
                <button type="button" class="btn pull-left btnLimpar" (click)="limpar()">Limpar</button>
            </div>
        </div>
    </div>
</form>